<nav class="navbar">
  <div class="navbar-container container">
      <input type="checkbox" name="" id="">
      <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
      </div>
      <ul class="menu-items">
          <li><a href="#" href="#questions">Quem Somos</a></li>
          <li><a href="#" href="#parceiro">Seja um Parceiro</a></li>
          <li><a href="#">Energy App</a></li>
          <li class="whatsapp"><img src="../assets/whatsapp.png"  class="mx-2"width="20vw" alt=""><a href="#" >WhatsApp</a></li>
      </ul>
      <img src="../assets/logo/logo.svg" class="logo" height="60%">
  </div>
</nav>

<div class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 text-initial">
        <div class="text-center">
          <h1 class="text-light">Sua Empresa +</h1>
          <div class="writter">
          <ngx-typed-js [strings]="['Moderna', 'Prática']" [loop]="true" [typeSpeed]="150" [loop]="true" [showCursor]="false" [fadeOut]="true">
            <h1 class="typing text-inital text-light"></h1>
          </ngx-typed-js>
        </div>
          <button class="btn btn-primary btn-secondary-energy w-50 mt-3">Saiba Mais</button>
        </div>
      </div>
      <div class="col-md-7 text-initial">
        <img src="../assets/img-initial/Sem Título-1.png" alt="" width="100%">
      </div>
    </div>
  </div>
</div>
<div class="container my-5" id="questions">
  <div class="row">
    <div class="col-lg-4">
      <div class="card card-energy pt-4 mx-2 p-3" >
        <div class="text-center">
          <img src="../assets/icons/grupo.png" height="100px" width="100px" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title text-center mb-3">Quem Somos</h5>
          <p class="card-text text-center">A Energy Code é composta por Engenheiros e Desenvolvedores em busca de
            otimizar processos e metodologias empresariais, transformando-as em ferramentas de fácil e confiável
            utilização</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-energy pt-4 mx-2 p-3" >
        <div class="text-center">
          <img src="../assets/icons/engrenagem.png" height="100px" width="100px" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title text-center mb-3">Soluções</h5>
          <p class="card-text text-center">Possuímos um Portifólio de Softwares para o auxiliar das tarefas mais simples
            às mais complexas em sua rotina. Além disso, criamos softwares customizados em nossa plataforma para atender
            a sua demanda de maneira prática, simplificada e eficaz</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-energy pt-4 mx-2 p-3" >
        <div class="text-center">
          <img src="../assets/icons/aperto-de-mao.png" height="100px" width="100px" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title text-center mb-3">Seja nosso Parceiro</h5>
          <p class="card-text text-center">Já pensou em Transformar seu conhecimento ou script em uma ferramenta
            computacional e abrangente? A Energy Code transforma desde conhecimentos e scripts pessoais em ferramentas
            funcionais para serem utilizadas em larga escala</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-secondary mt-5">
  <div class="container pt-5">
    <h2 class="text-center text-light mt-3">Porque Trabalhar com a Energy Code?</h2>
    <div class="row mt-5 pt-5 pb-5">
      <div class="col-md-4">
        <div class="d-flex">
          <div class="mt-1">
            <img src="../assets/icons/relogio.png" alt="">
          </div>
          <div class="mx-4">
            <h5 class="text-light p-1">Tempo</h5>
            <p class="text-light p-1">Execute tarefas em menor tempo.</p>
          </div>
        </div>
        <div class="d-flex mt-4">
          <div class="mt-3">
            <img src="../assets/icons/ideia.png" alt="">
          </div>
          <div class="mx-4">
            <h5 class="text-light p-1">Inovação</h5>
            <p class="text-light p-1">Implementamos a ferramenta necessária para seu projeto.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="d-flex">
          <div class="mt-1">
            <img src="../assets/icons/lupa.png" alt="">
          </div>
          <div class="mx-4">
            <h5 class="text-light p-1">Otimização</h5>
            <p class="text-light p-1">Encontramos os principais pontos a serem desenvolvido</p>
          </div>
        </div>
        <div class="d-flex mt-1">
          <div class="mt-3">
            <img src="../assets/icons/estrela.png" alt="">
          </div>
          <div class="mx-4">
            <h5 class="text-light p-1">Praticidade</h5>
            <p class="text-light p-1">Você pode contar com nossa plataforma para seus projetos

            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="d-flex">
          <div class="mt-1">
            <img src="../assets/icons/verificacao-de-seguranca.png" alt="">
          </div>
          <div class="mx-4">
            <h5 class="text-light p-1">Segurança</h5>
            <p class="text-light p-1">Evite falhas em seus processos

            </p>
          </div>
        </div>
        <div class="d-flex mt-4" id="questions">
          <div class="mt-3">
            <img src="../assets/icons/suporte-online.png" alt="">
          </div>
          <div class="mx-4">
            <h5 class="text-light p-1">Suporte</h5>
            <p class="text-light p-1" id="parceiro">Ajudamos sua equipe pela nossa plataforma e redes sociais

            </p>
          </div>
        </div>
      </div>
    </div>
    <h2 class="text-center text-light mt-5">Precisando de um Projeto Específico?</h2>
    <h3 class="text-center text-light mb-5">Contate-nos</h3>
<div class="row">
  <div class="col-lg-12">
    <div class="input-group mb-3">
      <input type="text" class="form-control mx-3" placeholder="Digite seu nome" aria-label="Username"
        aria-describedby="basic-addon1 ">
      <input type="text" class="form-control" placeholder="Digite seu E-mail" aria-label="Username"
        aria-describedby="basic-addon1 ">
      <input type="text" class="form-control mx-3" placeholder="Digite seu Número de Contato" aria-label="Username"
        aria-describedby="basic-addon1 ">
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control mx-3" placeholder="Orçamento" aria-label="Username"
        aria-describedby="basic-addon1 ">
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control mx-3 text-area" placeholder="Conte sobre seu Projeto (Opcional)"
        aria-label="Username" aria-describedby="basic-addon1 ">
    </div>
    <div class="text-center">
      <button class="btn btn-primary btn-secondary-energy btn-env w-25 mt-3">Enviar</button>
    </div>
  </div>
  </div>
  </div>
</div>
<div class="container faq">
  <div class="text-center">
    <h3 class="mt-4">Dúvidas? Nós te ajudamos!</h3>
    <p>Veja se conseguimos te ajudar</p>
  </div>
  <div class="accordions mt-4">
    <div class="accordion-item">
      <input type="radio" name="accordion" checked="checked" id="accordion-1" />
      <label for="accordion-1">Dúvida 1</label>
      <div class="accordion-content"><p class="mt-2 p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ducimus aperiam
        quod ipsam mollitia dolor repellat blanditiis praesentium explicabo ipsa eum fugit velit, quidem distinctio
        soluta fuga provident. Ducimus, dolores!</p></div>
    </div>
    <div class="accordion-item">
      <input type="radio" name="accordion" id="accordion-2" />
      <label for="accordion-2">Dúvida 2</label>
      <div class="accordion-content"><p class="mt-2 p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ducimus aperiam
        quod ipsam mollitia dolor repellat blanditiis praesentium explicabo ipsa eum fugit velit, quidem distinctio
        soluta fuga provident. Ducimus, dolores!</p></div>
    </div>
    <div class="accordion-item">
      <input type="radio" name="accordion" id="accordion-3" />
      <label for="accordion-3">Dúvida 3</label>
      <div class="accordion-content"> <p class="mt-2 p-2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ducimus aperiam
        quod ipsam mollitia dolor repellat blanditiis praesentium explicabo ipsa eum fugit velit, quidem distinctio
        soluta fuga provident. Ducimus, dolores!</p></div>
    </div>
  </div>
</div>
<div class="footer w-100 mt-5 pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <b class="text-light">Menu</b>
        <div class="d-block pt-4">
          <a href="">Seja um(a) Parceiro(a)</a>
          <br>
          <a href="">Porque usar a Energy Code</a>
          <br>
          <a href="">Principais Dúvidas</a>
        </div>
      </div>
      <div class="col-md-4">
        <b class="text-light">Quem Somos</b>
        <p class="text-light mt-4">Somos compostos por Engenheiros e Desenvolvedores em busca de otimizar processos e
          metodologias empresariais, transformando-as em ferramentas de fácil e confiável utilização.</p>
      </div>
      <div class="col-md-4">
        <b class="text-light">Email:</b>
        <p class="text-light mt-4">suporte@energycode.com.br</p>
        <b class="text-light">Redes Sociais</b>
        <div class="d-flex pt-3">
          <img src="../assets/icons/whatsapp (2).png" alt="">
          <img class="mx-3 " src="../assets/icons/logotipo-do-linkedin.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>